body {
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-family: 'PT Sans', sans-serif;
	background: #000;
	background-image: url(bg.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.popup {
	background: #171c20;
	width: 480px;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	margin-left: -240px;
	min-height: 200px;
	top: 250px;
	padding: 70px 0 0px;
	text-align: center;
	z-index: 1;
	box-shadow: 0 30px 350px 0 rgba(255,255,255,.5), 0 10px 50px 0 rgba(180,217,246,.3);
}

.overlay {
	background: black;
	opacity: .75;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

.title {
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
	position: relative;
	z-index: 1;
}

.dude {
	position: absolute;
	top: -130px;
	left: 70px;
}

.answer {
	display: flex;
}

.choice {
	width: 50%;
	text-decoration: none;
	padding-top: 25px;
}

.icon {
	width: 130px;
	height: 130px;
	border-radius: 100%;
	display: block;
	position: relative;
	margin: 0 auto 25px;
	transition: all .2s ease-in-out;
}

.icon svg {
	position: absolute;
}

.text {
	font-size: 24px;
	font-weight: bold;
	transition: color .2s ease-in-out;
}

path {
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill-rule: evenodd;
	transition: all .2s ease-in-out;
}

.form {
	position: relative;
	z-index: 2;
}

.typeform-wrapper, .typeform-widget, iframe, .form {
		overflow: hidden;
}

.typeform-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.typeform-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


.yes .icon {
	box-shadow: 0 0 0 3px rgba(43,193,36,.5);
}

.yes svg {
	top: 32px;
	left: 36px;
}

.yes .icon path {
	stroke: rgba(43,193,36,.5);
	stroke-width: 3px;
}

.yes .text {
	color: rgba(43,193,36,.5);
}

.yes:hover .text {
	color: rgba(43,193,36,1);
}

.yes:hover .icon {
	box-shadow: 0 0 0 6px rgba(43,193,36,1);
	background: rgba(43,193,36,.1);
}

.yes:hover .icon path {
	stroke: rgba(43,193,36,1);
	stroke-width: 6px;
}

.yes:active .icon {
	background: rgba(43,193,36,.5);
}




.no .icon {
	box-shadow: 0 0 0 3px rgba(255,75,35,.5);
}

.no svg {
	top: 35px;
	left: 39px;
}

.no .icon path {
	stroke: rgba(139, 52, 34, 1);
	stroke-width: 3px;
}

.no:hover .icon {
	box-shadow: 0 0 0 6px rgba(255,75,35,1);
	background: rgba(255,75,35,.1);
}

.no .text {
	color: rgba(255,75,35,.5);
}

.no:hover .text {
	color: rgba(255,75,35,1);
}

.no:hover .icon path {
	stroke-width: 6px;
	stroke: rgba(255,75,35,1);
}

.no:active .icon {
	background: rgba(255,75,35,.5);
}
